parameters:
	ignoreErrors:
		-
			message: "#^Property Zenstruck\\\\Collection\\\\IterableCollection\\<K,V\\>\\:\\:\\$source \\(\\(Closure\\(\\)\\: iterable\\<K, V\\>\\)\\|iterable\\<K, V\\>\\) does not accept \\(callable\\(\\)\\: iterable\\<K, V\\>&Traversable\\<mixed, mixed\\>\\)\\|\\(Closure\\(\\)\\: mixed\\)\\|iterable\\<K, V\\>\\.$#"
			count: 1
			path: src/Collection/IterableCollection.php

