parameters:
    level: 8
    treatPhpDocTypesAsCertain: false
    paths:
        - src
        - stubs
    ignoreErrors:
        # False positives
        -
            message: "#^Parameter \\#1 \\$callback of static method Closure\\:\\:fromCallable\\(\\) expects callable\\(\\)\\: mixed, array\\|\\(callable\\(\\)\\: iterable\\<K of \\(int\\|string\\), V\\>\\)\\|\\(callable\\(\\)\\: iterable\\<K of \\(int\\|string\\), V\\>&iterable\\)\\|\\(callable\\(\\)\\: iterable\\<K of \\(int\\|string\\), V\\>&iterable\\<K of \\(int\\|string\\), V\\>\\) given\\.$#"
            count: 1
            path: src/Collection/LazyCollection.php
        -
            message: "#^Property Zenstruck\\\\Collection\\\\LazyCollection\\<K of \\(int\\|string\\),V\\>\\:\\:\\$source \\(\\(Closure\\(\\)\\: iterable\\<K of \\(int\\|string\\), V\\>\\)\\|iterable\\<K of \\(int\\|string\\), V\\>\\) does not accept array\\<K, \\*NEVER\\*&V\\>\\|\\(callable\\(\\)\\: iterable\\<K of \\(int\\|string\\), V\\>&Traversable\\<mixed, mixed\\>\\)\\|\\(Closure\\(\\)\\: mixed\\)\\|iterable\\<K of \\(int\\|string\\), V\\>\\.$#"
            count: 1
            path: src/Collection/LazyCollection.php
        -
            message: "#^Property Zenstruck\\\\Collection\\\\ArrayCollection\\<K of \\(int\\|string\\),V\\>\\:\\:\\$source \\(array\\<K of \\(int\\|string\\), V\\>\\) does not accept array\\.$#"
            count: 1
            path: src/Collection/ArrayCollection.php
        -
            message: "#^Method Zenstruck\\\\Collection\\\\ArrayCollection\\:\\:combine\\(\\) should return Zenstruck\\\\Collection\\\\ArrayCollection\\<\\(\\(int&V\\)\\|\\(string&V\\)\\), T\\> but returns Zenstruck\\\\Collection\\\\ArrayCollection\\<\\(int\\|string\\), V\\>\\.$#"
            count: 1
            path: src/Collection/ArrayCollection.php
        -
            message: "#^Parameter \\#1 \\$source of static method Zenstruck\\\\Collection\\\\ArrayCollection\\<K of \\(int\\|string\\),V\\>\\:\\:for\\(\\) expects \\(callable\\(\\)\\: iterable\\<K of \\(int\\|string\\), V\\>\\)\\|iterable\\<K of \\(int\\|string\\), V\\>\\|null, iterable\\<\\(int\\|string\\), T\\> given\\.$#"
            count: 1
            path: src/Collection/ArrayCollection.php
        -
            message: "#^Parameter \\#2 \\$callback of function array_filter expects callable\\(V, K of \\(int\\|string\\)\\)\\: mixed, \\(callable\\(V, K of \\(int\\|string\\)\\)\\: bool\\)\\|null given\\.$#"
            count: 1
            path: src/Collection/ArrayCollection.php
        -
            message: "#^Method Zenstruck\\\\Collection\\\\LazyCollection\\:\\:toArray\\(\\) should return array\\<K of \\(int\\|string\\), V\\> but returns iterable\\<K of \\(int\\|string\\), V\\>\\.$#"
            count: 1
            path: src/Collection/LazyCollection.php
        -
            message: "#^Parameter \\#1 \\$array of function array_slice expects array, iterable\\<K of \\(int\\|string\\), V\\> given\\.$#"
            count: 1
            path: src/Collection/LazyCollection.php
        -
            message: "#^Parameter \\#1 \\$iterator of function iterator_count expects Traversable, iterable\\<K of \\(int\\|string\\), V\\> given\\.$#"
            count: 1
            path: src/Collection/LazyCollection.php
        -
            message: "#^Parameter \\#1 \\$iterator of function iterator_to_array expects Traversable, iterable\\<K of \\(int\\|string\\), V\\> given\\.$#"
            count: 1
            path: src/Collection/LazyCollection.php
        -
            message: "#^Parameter \\#1 \\$value of function count expects array\\|Countable, iterable\\<K of \\(int\\|string\\), V\\> given\\.$#"
            count: 1
            path: src/Collection/LazyCollection.php
        -
            message: "#^Parameter \\#1 \\$p of method Doctrine\\\\Common\\\\Collections\\\\Collection\\<K of \\(int\\|string\\),V\\>\\:\\:filter\\(\\) expects Closure\\(V\\)\\: bool, Closure\\(V, K of \\(int\\|string\\)\\)\\: bool given\\.$#"
            count: 1
            path: src/Collection/DoctrineCollection.php
        -
            message: "#^Parameter \\#1 \\$source of class Zenstruck\\\\Collection\\\\ArrayCollection constructor expects \\(callable\\(\\)\\: iterable\\<K of \\(int\\|string\\), mixed\\>\\)\\|iterable\\<K of \\(int\\|string\\), mixed\\>\\|null, iterable given\\.$#"
            count: 1
            path: src/Collection/ArrayCollection.php
        -
            message: "#^Variable \\$logger might not be defined\\.$#"
            count: 1
            path: src/Collection/Doctrine/Batch/BatchProcessor.php
        -
            message: "#^Parameter \\#1 \\$source of class Zenstruck\\\\Collection\\\\LazyCollection constructor expects \\(callable\\(\\)\\: iterable\\<K of \\(int\\|string\\), Zenstruck\\\\Collection\\<K of \\(int\\|string\\), V\\>\\>\\)\\|iterable\\<K of \\(int\\|string\\), Zenstruck\\\\Collection\\<K of \\(int\\|string\\), V\\>\\>\\|null, iterable\\<Zenstruck\\\\Collection\\<K of \\(int\\|string\\), V\\>\\> given\\.$#"
            count: 1
            path: src/Collection/ChainCollection.php
